<h2><%= (current_user.role).upcase %> is Signed_in Now..</h2>
<h1>Projects List</h1>

<% if can? :destoy, Project%>
<!-- Search form -->
<form id="search-form" action="<%= projects_path %>" method="get">
  <input type="text" id="project-search-input" name="query" placeholder="Search projects...">
</form>

<!-- Search results div -->
<div id="projects-list">
  
  <%# <%= render partial: "table", locals: { projects: @projects } %>
</div>

<% else %>
<form id="bug-search-form" action="<%= bugs_path %>" method="get">
  <input type="text" id="bug-search-input" name="query" placeholder="Search projects..." value="<%= params[:query] %>">
</form>
<% end %>
<!-- Projects Table -->
<table>
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="projects-table-body">
    <%= render partial: "projects/table", locals: { projects: @projects } %>
  </tbody>
</table>

<div class="pag-bar mt-5 pt-5 d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

  <% if can? :create, Project %>
  <p><%= link_to "New Project", new_project_path %></p>
  <% end %>
