<p><strong>Title:</strong><%= bug.title %></p>

<p>
  <h3>Description:</h3>
  <%= bug.description %>
</p>

<p>
  <h3>Piority:</h3>
  <%= bug.priority %>
</p>
<h3>Assigned Developers</h3>
    <ul>
      <% bug.developer.each do |d| %>
        <li><%= d.email %> (developer)</li>
      <% end %>
    </ul>

<%= link_to "Update it", edit_project_bug_path(@project, bug) %>
<% if can? :Destroy,bug %>
<h5><%= link_to "Destroy", [@project, bug], data: {
                                              turbo_method: :delete,
                                              turbo_confirm: "Are you sure?",
                                            } %></h5>
                                            <% end %>